<style media="screen">
  * {
    box-sizing: border-box;
  }

  h2 {
    text-align: center;
  }

  .newSongForm {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 1px 4px darkgray;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
  }

  input {
    margin-bottom: 10px;
    width: 100%;
  }
</style>

<p>
  ID:
  <%= user.id %><br/> Name:
    <%= user.displayName %><br/>
      <% if (user.emails) { %>
        Email:
        <%= user.emails[0].value %><br/>
          <% } %>
</p>

<h2>Upload a new song!</h2>

<form class="newSongForm" ref="newSong" action="/uploadNewSong" method="post" enctype="multipart/form-data">
  <input type="text" name="title" value="" placeholder="What's the title of your song?">
  <label for="coverArt">Cover Art</label>
  <input type="file" id="coverArt" name="coverArt">
  <label for="song">Song as MP3</label>
  <input type="file" id="audio" name="audio">
  <button type="submit" name="button">Add New Song!</button>
</form>