<form action="/profile" method="get">
  <input type="hidden" id="fan" name="userType" value="fan">
  <button type="submit">I'm a fan</button>
</form>

<form action="/profile" method="get">
  <input type="hidden" id="artist" name="userType" value="artist">
  <button type="submit">I'm an artist</button>
</form>
